{
  "ConnectionStrings": {
    "IMISDatabase": "Server=IP;Database=TestDB;;User ID=User;Password=Password"
  },
	"JwtIssuer": "http://openimis.org",
	"JwtAudience": "http://openimis.org",
	"JwtExpireDays": 5
}
