{
	"ConnectionStrings": {
		"IMISDatabase": "Server=${DB_HOST};Database=${DB_NAME};User ID=${DB_USER};Password=${DB_PASSWORD}"
	},
	"ConnectionSettings": {
		"CommandTimeout": 30
	},
	"Log4NetCore": {
		"PropertyOverrides": [
			{
				"XPath": "/log4net/root/level",
				"Attributes": {
					"Value": "DEBUG"
				}
			},
			{
				"XPath": "/log4net/appender[@name='RollingLogFileAppender']/file",
				"Attributes": {
					"Value": "log/server_log.log"
				}
			},
			{
				"XPath": "/log4net/appender[@name='RollingLogFileAppender']/maximumFileSize",
				"Attributes": {
					"Value": "5MB"
				}
			},
			{
				"XPath": "/log4net/appender[@name='RollingLogFileAppender']/maxSizeRollBackups",
				"Attributes": {
					"Value": "5"
				}
			}
		]
	}
}
